In [2]:
import pandas as pd

# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [5]:
# Three separate lists of information on high schools

school_id = [0, 1, 2, 3, 4]

school_name = ['Huang High School', 'Figuerua High School'
'Shelton High Scool', 'Hernandez High School', 'Griffin High School']

type_of_school = ['District', 'District', 'Charter', 'District', 'Charter']

# initaialize a new DataFrame

schools_df["School ID"] =school_id
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [8]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [9]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [12]:
high_shcool_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"},
                    {"School ID": 5, "school_name": "Wilson High School", "type": "Charter"},
                    {"School ID": 6, "school_name": "Cabera High School", "type": "Charter"},
                    {"School ID": 7, "school_name": "Bailey High School", "type": "District"},
                    {"School ID": 8, "school_name": "Holden High School", "type": "Charter"},
                    {"School ID": 9, "school_name": "Pena High School", "type": "Charter"},
                    {"School ID": 10, "school_name": "Write High School", "type": "Charter"},
                    {"School ID": 11, "school_name": "Rodriguez High School", "type": "District"},
                    {"School ID": 12, "school_name": "Johnson High School", "type": "District"},
                    {"School ID": 13, "school_name": "Ford High School", "type": "District"},
                    {"School ID": 14, "school_name": "Thomas High School", "type": "Charter"},]

school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter